body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
/* ............//// Section-1 Start ////......... */
.section1{
	width: 100%;
	height: 500px;
	display: flex;
	justify-content: space-between;
	margin-top: 75px;
}
.section1 .half1, .half2{
	width: 50%;
	margin: auto;
}
.section1 .half1{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 6%;
}
.section1 .half1 h1{
	font-size: 40px;
}
.section1 .half1 p{
	font-size: 20px;
	margin-top: -20px;
	color: rgba(78, 78, 78, 0.7);
	text-align: left;
}
.section1 .half2{
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 5%;
}
.section1 .half2 img{
	max-width: 100%;
	height: auto;
}
/* ............//// Section-1 END ////......... */

/* ............//// Section-2 Start ////......... */
.section2{
	width: 100%;
	height: 600px;
	display: flex;
	justify-content: space-between;
	margin-top: 75px;
	margin-top: -50px;
}
.section2 .half1, .half2{
	width: 50%;
	margin: auto;
}
.section2 .half1{
	margin-left: 5%;
	margin-right: 2.5%;
	padding-top: 5%;
}
.section2 .half1 img{
	max-width: 100%;
	height: auto;
}
.section2 .half2{
	margin-right: 5%;
	margin-left: 2.5%;
	padding-top: 8%;
}
.section2 .half2 h1{
	font-size: 40px;
}
.section2 .half2 p{
	font-size: 20px;
	margin-top: -20px;
	color: rgba(78, 78, 78, 0.7);
	text-align: left;
}
/* ............//// Section-2 END ////......... */

/* ............//// Section-3 Start ////......... */
.section3{
	width: 100%;
	height: 500px;
	display: flex;
	justify-content: space-between;
	margin-top: 75px;
}
.section3 .half1, .half2{
	width: 50%;
	margin: auto;
}
.section3 .half1{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 6%;
}
.section3 .half1 h1{
	font-size: 40px;
}
.section3 .half1 p{
	font-size: 20px;
	margin-top: -20px;
	color: rgba(78, 78, 78, 0.7);
	text-align: left;
}
.section3 .half2{
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 5%;
}
.section3 .half2 img{
	max-width: 100%;
	height: auto;
}
/* ............//// Section-3 END ////......... */

/* ............//// Section-4 Start ////......... */
.section4{
	width: 100%;
	height: 600px;
	display: flex;
	justify-content: space-between;
	margin-top: 75px;
	margin-top: -50px;
}
.section4 .half1, .half2{
	width: 50%;
	margin: auto;
}
.section4 .half1{
	margin-left: 5%;
	margin-right: 2.5%;
	padding-top: 5%;
}
.section4 .half1 img{
	max-width: 100%;
	height: auto;
}
.section4 .half2{
	margin-right: 5%;
	margin-left: 2.5%;
	padding-top: 8%;
}
.section4 .half2 h1{
	font-size: 40px;
}
.section4 .half2 p{
	font-size: 20px;
	margin-top: -20px;
	color: rgba(78, 78, 78, 0.7);
	text-align: left;
}
/* ............//// Section-4 END ////......... */



@media (max-width:768px){
	.section1{
	width: 100%;
	height: 500px;
	display: block;
	justify-content: space-between;
	margin-top: 30px;
	}
	.section1 .half1, .half2{
		margin: 0;
		width: 100%;
		padding: 10px;
	}
	.section1 .half1{
		margin: 0;
	}
	.section1 .half2{
		margin: 0;
	}
	.section2{
	width: 100%;
	height: 500px;
	display: block;
	justify-content: space-between;
	margin-top: 300px;
	}
	.section2 .half1, .half2{
		margin: 0;
		width: 100%;
		padding: 10px;
	}
	.section2 .half1{
		margin: 0;
	}
	.section2 .half2{
		margin: 0;
	}
	.section3{
	width: 100%;
	height: 500px;
	display: block;
	justify-content: space-between;
	margin-top: 380px;
	}
	.section3 .half1, .half2{
		margin: 0;
		width: 100%;
		padding: 10px;
	}
	.section3 .half1{
		margin: 0;
	}
	.section3 .half2{
		margin: 0;
	}
	.section4{
	width: 100%;
	height: 500px;
	display: block;
	justify-content: space-between;
	margin-top: 250px;
	}
	.section4 .half1, .half2{
		margin: 0;
		width: 100%;
		padding: 10px;
	}
	.section4 .half1{
		margin: 0;
	}
	.section4 .half2{
		margin: 0;
	}
}
@media (max-width:550px){
	.section1{
	width: 100%;
	height: 500px;
	display: block;
	justify-content: space-between;
	margin-top: 30px;
	}
	.section1 .half1, .half2{
		margin: 0;
		width: 100%;
		padding: 10px;
	}
	.section1 .half1{
		margin: 0;
	}
	.section1 .half2{
		margin: 0;
	}
	.section2{
	width: 100%;
	height: 500px;
	display: block;
	justify-content: space-between;
	margin-top: 150px;
	}
	.section2 .half1, .half2{
		margin: 0;
		width: 100%;
		padding: 10px;
	}
	.section2 .half1{
		margin: 0;
	}
	.section2 .half2{
		margin: 0;
	}
	.section3{
	width: 100%;
	height: 500px;
	display: block;
	justify-content: space-between;
	margin-top: 200px;
	}
	.section3 .half1, .half2{
		margin: 0;
		width: 100%;
		padding: 10px;
	}
	.section3 .half1{
		margin: 0;
	}
	.section3 .half2{
		margin: 0;
	}
	.section4{
	width: 100%;
	height: 500px;
	display: block;
	justify-content: space-between;
	margin-top: 250px;
	}
	.section4 .half1, .half2{
		margin: 0;
		width: 100%;
		padding: 10px;
	}
	.section4 .half1{
		margin: 0;
	}
	.section4 .half2{
		margin: 0;
	}
}